<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gambling Gamers!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/vaakash/socializer/80391a50/css/socializer.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  
    <section class="hero">
        
        <div class="container">
            <img src="../assets/imgs/pc_gamers_cropped.jpg" alt="gamers" class="crop">
            <div class="position">
                <h1 class="title">
                    Welcome Gamers
                </h1>
                <p class="subtitle">
                   The first video game betting Website!
                </p>
            </div>          
        </div>

    </section>
    
    <!-- Navbar -->
    
    <div class="container">
        
                <nav class="navbar" role="navigation" class="navbar-burger" aria-label="dropdown navigation">
                        <div class="navbar-menu">
                                <div class="navbar-start">
                                <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Matches</a>
                      
                                <div class="navbar-dropdown">
                                <a class="navbar-item" data-target="modal" id="modalActive" aria-haspopup="true">Upcoming Matches
                                </a>

                                <a class="navbar-item"data-target="modal" id="modalActive" aria-haspopup="true">
                                  Previous Matches
                                </a>
                              </div>
                            </div>
                          </div>
                      
                          <div class="navbar-end">
                                <div class="navbar-start">
                                    <a class="navbar-item" href="./index.html">
                                        Home
                                    </a>
                                    <a class="navbar-item" href="./about.html">
                                        About
                                    </a>


                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">Accnt.</a>
                      
                              <div class="navbar-dropdown is-right">
                                  <a class="navbar-item" data-target="modal" id="modalActive" aria-haspopup="true">Account Info
                                  </a>
                                <a class="navbar-dropdown is-right">
                                  <a class="navbar-item" data-target="modal" id="modalActive" aria-haspopup="true">Bet History
                                  </a>
                                </a>
                                <a class="navbar-dropdown is-right">
                                  <a class="navbar-item" data-target="modal" id="modalActive" aria-haspopup="true">Settings
                                  </a>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </nav>
    </div>
        
    <section class="container">

      <!-- Modal 
      <div class="columns">
        <div class="column is 12">
          <button class="button is-primary is-large modal-button" data-target="modal" id="modalActive" aria-haspopup="true">Account Info</button>
        </div> 
      </div> -->
      
      <div class="modal" id="accntStats">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th><abbr title="Position">Pos</abbr></th>
                        <th>Team</th>
                        <th><abbr title="Played">Pld</abbr></th>
                        <th><abbr title="Won">W</abbr></th>
                        <th><abbr title="Drawn">D</abbr></th>
                        <th><abbr title="Lost">L</abbr></th>
                        <th><abbr title="Points">Pts</abbr></th>
                        <th>Qualification or relegation</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th><abbr title="Position">Pos</abbr></th>
                        <th>Team</th>
                        <th><abbr title="Played">Pld</abbr></th>
                        <th><abbr title="Won">W</abbr></th>
                        <th><abbr title="Drawn">D</abbr></th>
                        <th><abbr title="Lost">L</abbr></th>
                        <th><abbr title="Points">Pts</abbr></th>
                        <th>Qualification or relegation</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td><a href="https://beyondmayhem.com/" title="Beyond Mayhem F.C.">Beyond Mayhem</a> <strong>(C)</strong>
                        </td>
                        <td>38</td>
                        <td>23</td>
                        <td>12</td>
                        <td>3</td>
                        <td>81</td>
                        <td>Qualification for the <a href="https://www.theotherdimension.com/about-us/" title="The Other Dimension">The Other Dimension</a></td>
                      </tr>
                      <tr>
                        <th>2</th>
                        <td><a href="https://www.bungie.net/en/Groups/Chat?groupId=3052785" title="Pivotal Trip">Pivotal Trip</a></td>
                        <td>38</td>
                        <td>20</td>
                        <td>11</td>
                        <td>7</td>
                        <td>71</td>
                        <td>Qualification for the <a href="https://www.bungie.net/en/Groups/Chat?groupId=3052760" title="Freak Streak Machine
                            ">Freak Streak Machine
                        </a></td>
                      </tr>
                      <tr>
                        <th>3</th>
                        <td><a href="http://battlebots.wikia.com/wiki/Team_Sinister" title="Sinister Epic">Sinister Epic</a></td>
                        <td>38</td>
                        <td>19</td>
                        <td>13</td>
                        <td>6</td>
                        <td>70</td>
                        <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="The Might Thrill
                            ">The Might Thrill
                        </a></td>
                      </tr>
                      <tr class="is-selected">
                        <th>4</th>
                        <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Skull Take Away
                            ">Skull Take Away
                        </a></td>
                        <td>38</td>
                        <td>19</td>
                        <td>9</td>
                        <td>10</td>
                        <td>66</td>
                        <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round" title="Trip Disciples
                            ">Trip Disciples
                        </a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
      </div>

    </section>
    

    <section class="container">
        <div class="columns"></div>
            <div class="column is-10">
              <div>
                <h2>Current Game Data</h2>
              </div>
                
                    <table class="table">
                            <thead>
                              <tr>
                                <th><abbr title="Position">Pos</abbr></th>
                                <th>Team</th>
                                <th><abbr title="Played">Pld</abbr></th>
                                <th><abbr title="Won">W</abbr></th>
                                <th><abbr title="Drawn">D</abbr></th>
                                <th><abbr title="Lost">L</abbr></th>
                                <th><abbr title="Goals for">GF</abbr></th>
                                <th><abbr title="Goals against">GA</abbr></th>
                                <th><abbr title="Goal difference">GD</abbr></th>
                                <th><abbr title="Points">Pts</abbr></th>
                                <th>Qualification or relegation</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th><abbr title="Position">Pos</abbr></th>
                                <th>Team</th>
                                <th><abbr title="Played">Pld</abbr></th>
                                <th><abbr title="Won">W</abbr></th>
                                <th><abbr title="Drawn">D</abbr></th>
                                <th><abbr title="Lost">L</abbr></th>
                                <th><abbr title="Goals for">GF</abbr></th>
                                <th><abbr title="Goals against">GA</abbr></th>
                                <th><abbr title="Goal difference">GD</abbr></th>
                                <th><abbr title="Points">Pts</abbr></th>
                                <th>Qualification or relegation</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <tr>
                                <th>1</th>
                                <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                </td>
                                <td>38</td>
                                <td>23</td>
                                <td>12</td>
                                <td>3</td>
                                <td>68</td>
                                <td>36</td>
                                <td>+32</td>
                                <td>81</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                              </tr>
                              <tr>
                                <th>2</th>
                                <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
                                <td>38</td>
                                <td>20</td>
                                <td>11</td>
                                <td>7</td>
                                <td>65</td>
                                <td>36</td>
                                <td>+29</td>
                                <td>71</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                              </tr>
                              <tr>
                                <th>3</th>
                                <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
                                <td>38</td>
                                <td>19</td>
                                <td>13</td>
                                <td>6</td>
                                <td>69</td>
                                <td>35</td>
                                <td>+34</td>
                                <td>70</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                              </tr>
                              <tr class="is-selected">
                                <th>4</th>
                                <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
                                <td>38</td>
                                <td>19</td>
                                <td>9</td>
                                <td>10</td>
                                <td>71</td>
                                <td>41</td>
                                <td>+30</td>
                                <td>66</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round" title="2016–17 UEFA Champions League">Champions League play-off round</a></td>
                              </tr>
                              <tr>
                                <th>5</th>
                                <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a></td>
                                <td>38</td>
                                <td>19</td>
                                <td>9</td>
                                <td>10</td>
                                <td>49</td>
                                <td>35</td>
                                <td>+14</td>
                                <td>66</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
                              </tr>
                              <tr>
                                <th>6</th>
                                <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a></td>
                                <td>38</td>
                                <td>18</td>
                                <td>9</td>
                                <td>11</td>
                                <td>59</td>
                                <td>41</td>
                                <td>+18</td>
                                <td>63</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
                              </tr>
                              <tr>
                                <th>7</th>
                                <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a></td>
                                <td>38</td>
                                <td>16</td>
                                <td>14</td>
                                <td>8</td>
                                <td>65</td>
                                <td>51</td>
                                <td>+14</td>
                                <td>62</td>
                                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Third_qualifying_round" title="2016–17 UEFA Europa League">Europa League third qualifying round</a></td>
                              </tr>
                              <tr>
                                <th>8</th>
                                <td><a href="https://en.wikipedia.org/wiki/Liverpool_F.C." title="Liverpool F.C.">Liverpool</a></td>
                                <td>38</td>
                                <td>16</td>
                                <td>12</td>
                                <td>10</td>
                                <td>63</td>
                                <td>50</td>
                                <td>+13</td>
                                <td>60</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>9</th>
                                <td><a href="https://en.wikipedia.org/wiki/Stoke_City_F.C." title="Stoke City F.C.">Stoke City</a></td>
                                <td>38</td>
                                <td>14</td>
                                <td>9</td>
                                <td>15</td>
                                <td>41</td>
                                <td>55</td>
                                <td>−14</td>
                                <td>51</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>10</th>
                                <td><a href="https://en.wikipedia.org/wiki/Chelsea_F.C." title="Chelsea F.C.">Chelsea</a></td>
                                <td>38</td>
                                <td>12</td>
                                <td>14</td>
                                <td>12</td>
                                <td>59</td>
                                <td>53</td>
                                <td>+6</td>
                                <td>50</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>11</th>
                                <td><a href="https://en.wikipedia.org/wiki/Everton_F.C." title="Everton F.C.">Everton</a></td>
                                <td>38</td>
                                <td>11</td>
                                <td>14</td>
                                <td>13</td>
                                <td>59</td>
                                <td>55</td>
                                <td>+4</td>
                                <td>47</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>12</th>
                                <td><a href="https://en.wikipedia.org/wiki/Swansea_City_A.F.C." title="Swansea City A.F.C.">Swansea City</a></td>
                                <td>38</td>
                                <td>12</td>
                                <td>11</td>
                                <td>15</td>
                                <td>42</td>
                                <td>52</td>
                                <td>−10</td>
                                <td>47</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>13</th>
                                <td><a href="https://en.wikipedia.org/wiki/Watford_F.C." title="Watford F.C.">Watford</a></td>
                                <td>38</td>
                                <td>12</td>
                                <td>9</td>
                                <td>17</td>
                                <td>40</td>
                                <td>50</td>
                                <td>−10</td>
                                <td>45</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>14</th>
                                <td><a href="https://en.wikipedia.org/wiki/West_Bromwich_Albion_F.C." title="West Bromwich Albion F.C.">West Bromwich Albion</a></td>
                                <td>38</td>
                                <td>10</td>
                                <td>13</td>
                                <td>15</td>
                                <td>34</td>
                                <td>48</td>
                                <td>−14</td>
                                <td>43</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>15</th>
                                <td><a href="https://en.wikipedia.org/wiki/Crystal_Palace_F.C." title="Crystal Palace F.C.">Crystal Palace</a></td>
                                <td>38</td>
                                <td>11</td>
                                <td>9</td>
                                <td>18</td>
                                <td>39</td>
                                <td>51</td>
                                <td>−12</td>
                                <td>42</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>16</th>
                                <td><a href="https://en.wikipedia.org/wiki/A.F.C._Bournemouth" title="A.F.C. Bournemouth">AFC Bournemouth</a></td>
                                <td>38</td>
                                <td>11</td>
                                <td>9</td>
                                <td>18</td>
                                <td>45</td>
                                <td>67</td>
                                <td>−22</td>
                                <td>42</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>17</th>
                                <td><a href="https://en.wikipedia.org/wiki/Sunderland_A.F.C." title="Sunderland A.F.C.">Sunderland</a></td>
                                <td>38</td>
                                <td>9</td>
                                <td>12</td>
                                <td>17</td>
                                <td>48</td>
                                <td>62</td>
                                <td>−14</td>
                                <td>39</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th>18</th>
                                <td><a href="https://en.wikipedia.org/wiki/Newcastle_United_F.C." title="Newcastle United F.C.">Newcastle United</a> <strong>(R)</strong>
                                </td>
                                <td>38</td>
                                <td>9</td>
                                <td>10</td>
                                <td>19</td>
                                <td>44</td>
                                <td>65</td>
                                <td>−21</td>
                                <td>37</td>
                                <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>
                              </tr>
                              <tr>
                                <th>19</th>
                                <td><a href="https://en.wikipedia.org/wiki/Norwich_City_F.C." title="Norwich City F.C.">Norwich City</a> <strong>(R)</strong>
                                </td>
                                <td>38</td>
                                <td>9</td>
                                <td>7</td>
                                <td>22</td>
                                <td>39</td>
                                <td>67</td>
                                <td>−28</td>
                                <td>34</td>
                                <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>    </tr>
                              <tr>
                                <th>20</th>
                                <td><a href="https://en.wikipedia.org/wiki/Aston_Villa_F.C." title="Aston Villa F.C.">Aston Villa</a> <strong>(R)</strong>
                                </td>
                                <td>38</td>
                                <td>3</td>
                                <td>8</td>
                                <td>27</td>
                                <td>27</td>
                                <td>76</td>
                                <td>−49</td>
                                <td>17</td>
                                <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>
                              </tr>
                            </tbody>
                          </table>

                          <footer class="footer">
                                <div class="content has-text-centered">
                                  <p>
                                    <strong>Gambling Gamers</strong> by 
                                    <a href="www.linkedin.com/in/ryan">Ryan Sadler</a>.
                                    <a href="www.linkedin.com/in/victor
                                    ">Victor</a> and
                                    <a href="https://www.linkedin.com/in/osei-thompson
                                    ">Osei Thompson,</a>
                                  </p>
                                </div>
                              </footer>
                
            </div>
    </section>
  
</body>
<script
       src="https://code.jquery.com/jquery-3.3.1.js"
       integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous">
</script>

<script>
      
      // var matches = ["Upcoming Matches", "Previous Matches"];

    //   function displayUpcomingMatches() {

    //     var schedule = $(this).attr("data-name");
    //     var queryURL = "https://api.pandascore.co/ow/matches/upcoming";
        
    //     $.ajax({
    //       url: queryURL,
    //       data: JSON.stringify(data),
    //       method: "GET"
    //     }).then(function(response) {
    //       console.log(response);
    //     });
    //   //   }
    //   $(document).ready(function(){
    //     $.getJSON("upcomingMatches.json",function(data){
    //       var upcomingMatches_data = '';
    //       $each(data, function(key, value){
    //         match_id: matches[i].id,
    //         match_name: matches[i].name,
    //         match_start: matches[i].begin_at,
    //         team_A: matches[i].opponents[0].opponent.name,
    //         team_B: matches[i].opponents[1].opponent.name
    //       });
    //       push(tempMatch);
    //     })
    //     console.log(matchesArr);
    // callback(matchesArr);
    //   })
    // }      
        $("#modalActive").on("click", function() {
          $("#accntStats").toggleClass("is-active");
        });
                
        $(".modal-close").on("click", function() {
        $("#accntStats").toggleClass("is-active");
        });

        $(".modal-background").on("click", function() {
        $("#accntStats").toggleClass("is-active");
        });
</script>

</html>