.section {
    width: 77%;
    background-color: #999;
}
img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: block;
    padding: 2rem 0rem 0rem 0rem;
    margin: 0 auto;
}
.field {
    background-color: #999;
}
.menu {
    font-size: 1rem;
    margin: 5rem 10rem 2rem 0rem;
}
h1 {
    margin-top: -100px;
}
h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #999;
}
.table {
    background-color: #110;
    color: #5D0;
    margin: 0 auto;
}
.table thead td, .table thead th {
    border-width: 0 0 2px;
    color: #999;
}
.navbar-dropdown a.navbar-item {
    padding-right: 3rem;
    color: #999;
}
.navbar-item {
    display: flex;
    margin-top: .4rem;
    color: #999;
}
.navbar-start {
    justify-content: flex-start;
    margin: 0rem 2rem 0rem 3rem;
    background-color: black;
}
.navbar {
    min-height: 2.25rem;
    margin: 3rem 8rem -1rem 6rem;
}
.navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: black;
}
.navbar-link {
    padding-right: 2.5em;
    color: #999;
}
.navbar-dropdown {
    background-color: black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid black;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
}
.navbar-dropdown.is-right {
    left: 0;
    right: auto;
}
.container {
    max-width: 1344px;
    width: 1344px;
    max-height: 100%;
}
.position {
    position: absolute;
    margin: -29rem 0rem 0rem 11rem;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2rem 0rem 0rem 2rem;
    margin-left: 88px;
}
body {
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.dropdown-menu, .dropdown-trigger {
    margin-left: 130px;
}
.navbar-item.has-dropdown {
    padding: 0;
    margin-top: 45px;
}
.subtitle {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 25px;
}
.title {
    margin-top: 216px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 52px 25px;
}
li {
    float: right;
    font-family: arial;
}
.navbar-item.has-dropdown {
    padding: 0;
    margin-top: 7px;
}
.crop {
    overflow:hidden;
}

.crop img {
    margin: -21px 0 0 144px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
}
.list-group-item {
    line-height: 2.5;
}  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #222;
}

li.dropdown {
    display: inline-block;
}
.footer {
    background-color: black;
    padding: 3rem 1.5rem 6rem;
}
.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    z-index: 40;
}
.modal-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible;
}
.modal-background {
    background-color: rgba(10,10,10,.86);
}